<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  

<div>
   <style>
       Body{
           background-image: url('./Content/Images/BPabout.jpeg');
           background-repeat: no-repeat;
           background-size: cover;
           background-attachment: fixed; 
       }
   </style>  
           
           <div class>
               <h1>Gayathri Srikanti</h1>
               <div class="p1">Software Engineer</div>
               <div class="p2">Skills: Python, Javascript, MongoDB, SQLDB, C#, lunix</div>
           </div>
   </div>
   </div>







   
   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

