
<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>

<div class>
  <style>
      Body{
          background-image: url('./Content/Images/BPabout.jpeg');
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed; 
      }
  </style>  
      <h2>Gayathri Srikanti </h2>
      <img id="mypic" src="./Content/Images/mypic.jpeg" alt="mypic">
  </div>
  <div class="">
      <div class="About">
          I am a creative designer and developer, who aims to work with small businesses and marginalized communities to bring their passions to life. I offer both design and development services of web applications or websites!
          <h4>Click here  for Resume</h4>
          <a href='./Content/Resume.pdf' target="_blank"> Click here</a> 
        </div>      
  </div>



  
  

   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>   

